<%= javascript_include_tag( 'preorder.js' ) %>

<h1><%="Menu of" + " " + @restaurant.name%> </h1>
<h2>For today:</h2>

<div class="text-left">
	
<h4>First course:</h4>
<div class = "row m-3 float-left">		
	<% @food_first.each do |food_item|%>
		<div class = "col text-left">
			<img src=<%= food_item.images.empty? ? '/assets/first100.jpg' : food_item.images.first.photo.url(:thumb)%>>
			<div class="radio">
			<h5>
				<label><input type="radio" name="first" class = ""
  				value= <%= food_item.id%>>
  					<%= link_to food_item.name, food_item, class:"unlink"%>
  				</label>
			</h5>
			</div>
			<p>price: <%= food_item.price%></p>
		</div>
	<% end%>
</div>
<div class = "clearfix"></div>

<h4>Main course:</h4>
<div class = "row m-3 float-left">		
	<% @food_main.each do |food_item|%>
			<div class = "col text-left">
			<img src=<%= food_item.images.empty? ? '/assets/main100.jpg' : food_item.images.first.photo.url(:thumb)%>>
			<h5>
				<label><input type="radio" name="main" 
  				value= <%= food_item.id%>>
  					<%= link_to food_item.name, food_item, class:"unlink"%>
  				</label>
			</h5>
			<p>price: <%= food_item.price%></p>
		</div>
	<% end%>
</div>
<div class = "clearfix"></div>

<h4>Drink:</h4>
<div class = "row m-3 float-left">		
	<% @food_drink.each do |food_item|%>
		<div class = "col text-left">
			<img src=<%= food_item.images.empty? ? '/assets/drink100.jpg' : food_item.images.first.photo.url(:thumb)%>>
			<h5>
				<label><input type="radio" name="drink" 
  				value= <%= food_item.id%>>
  					<%= link_to food_item.name, food_item, class:"unlink"%>
  				</label>
			</h5>
			<p>price: <%= food_item.price%></p>
		</div>
	<% end%>
</div>
<div class = "clearfix"></div>

<a class="btn btn-secondary" id="proceed" href="#">Proceed to checkout</a>

</div>