<h1>Orders of restaurant <%=@restaurant.name%></h1>
<h3><%=@date.strftime('%A, %d.%m.%y') + ", total lunches cost: " + @total_lunches_cost.to_s%></h3>
<%= render 'date_pick'%>
<div class = "text-left">
<table class = "table table-striped table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>Delivery address</th>
	        <th>Delivery time</th>
	        <th>Price</th>
	      </tr>
	    </thead>
	    <tbody>
<% @orders.each do |order|%>
			<tr>
				<td><%= order.address %></td>
				<td><%= order.delivery_time.strftime('%H:%M ') %></td>
				<td><%= order.	total_price %></td>
				<td><%= link_to "More information", order%></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<div class = "digg_pagination">
  <%= will_paginate @orders %>  
</div>
</div>