<h1><%=current_user.name %>'s orders</h1>
<div class = "text-left">
<table class = "table table-striped table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>Restaurant</th>
	        <th>Delivery time</th>
	        <th>Price</th>
	      </tr>
	    </thead>
	    <tbody>
<% @orders.each do |order|%>
			<tr>
				<td><%= order.restaurant.name %></td>
				<td><%= order.delivery_time.strftime('%A, %d.%m.%y, %H:%M ') %></td>
				<td><%= order.	total_price %></td>
				<td><%= link_to "More information", order%></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<div class = "digg_pagination">
  <%= will_paginate @orders %>  
</div>
</div>