<script type="text/javascript">
	$( document ).ready(function() {
		$('#order_delivery_time_1i').parent().contents().filter(function () {
     		return this.nodeType === 3; 
		}).remove();
		$('#order_delivery_time_1i').hide();
		$('#order_delivery_time_2i').hide();
		$('#order_delivery_time_3i').hide();	
});

</script>

<h1>Let's finish your order</h1> 
<%= simple_form_for @order, :html => {:multipart => true}, local: true do |form| %>
<div class = "order-form">
	<div class = "text-left">
		<table class = "table table-striped table-bordered table-hover">
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th>Price</th>
		      </tr>
		    </thead>
		    <tbody>
			<tr>
				<td><%= @first.name %></td>
				<td><%= @first.price %></td>
			</tr>
			<tr>
				<td><%= @main.name %></td>
				<td><%= @main.price %></td>
			</tr>
			<tr>
				<td><%= @drink.name %></td>
				<td><%= @drink.price %></td>
			</tr>
			</tbody>
	</table>
		<p>Price of one lunch: <%= @price%></p>
	</div>
	<%= hidden_field_tag 'first', @first.id %>
	<%= hidden_field_tag 'main', @main.id %>
	<%= hidden_field_tag 'drink', @drink.id %>
    <%= form.error_notification %>   
    <%= form.input :address%>  
    <%= form.input :delivery_time%>
    <%= form.input :count%> 
    <%= form.submit "Add food", class: "btn btn-secondary"%>  
</div>      
<% end %>