<div class = "container	">
		<div class = "row">
			<% 0.upto(6) do |i|%>
			<%day = Date.today.beginning_of_week+i%>
				<% if day < Date.today %>
					<div class = "col m-2 border-round bg-active">
						<%= link_to day.strftime("%a"),
								menu_path(date: day.strftime("%_m %d %y"), restaurant_id: @restaurant.id),class: "font-weight-bold"%>
						<h5 class = "font-weight-bold"><%= day.strftime"%d.%m.%y"%></h3>
					</div>
				<% elsif day.today?%>
					<div class = "col m-2 border-round bg-today">
						<%= link_to day.strftime("%a"),
								menu_path(date: day.strftime("%_m %d %y"), restaurant_id: @restaurant.id),class: "font-weight-bold"%>
						<h5 class = "font-weight-bold"><%= day.strftime"%d.%m.%y"%></h3>
					</div>
				<% else %>
					<div class = "col m-2 border-round bg-secondary">
						<h3 class = "font-weight-bold"><%= day.strftime"%a"%></h3>
						<h5 class = "font-weight-bold"><%= day.strftime"%d.%m.%y"%></h3>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>