.container
  .row
    - 0.upto(6) do |i|
      - day = Date.today.beginning_of_week+i
      - if day < Date.today
        = link_to menu_path(date: day.strftime("%_m %d %y"), restaurant_id: @restaurant.id), class: "col m-2 border-round bg-active unlink" do
          %h3
            = day.strftime("%a")
          %h5
            = day.strftime"%d.%m.%y"
      - elsif day.today?
        = link_to menu_path(date: day.strftime("%_m %d %y"), restaurant_id: @restaurant.id), class: "col m-2 border-round bg-today unlink" do
          %h3
            = day.strftime("%a")
          %h5
            = day.strftime"%d.%m.%y"
      - else
        .col.m-2.border-round.bg-secondary
          %h3= day.strftime"%a"
          %h5
            = day.strftime"%d.%m.%y"
