</style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Lunch Delievery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                </a>
              </li>
              <li class = "nav-item">
                  <div class="btn-group nav-link">
                  <button type="button" class="btn btn-sm dropdown-toggle btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.role + " " + current_user.name%>
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to('Manage account', edit_user_registration_path, class: "dropdown-item")  %>
                    <div class="dropdown-divider"></div>
                    <%= link_to('Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
                  </div>
                </div>

              </li>
              <li class="nav-item">
                  
              </li>
            <% else %>
            <li class="nav-item">
               <%= link_to('Sign in', new_user_session_path, class: "nav-link")  %>  
            </li>
            <li class="nav-item">
                 <%= link_to('Sign up', new_user_registration_path, class: "nav-link")  %> 
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>